.cover__title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  color: #fff;
}